<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>404 Error Page</title>
    <link rel="stylesheet" href="{{ url_for('static', path = '/styles/Error.css')}}" />
    <!-- <link rel="stylesheet" href="/src/static/styles/Error.css"> -->
  </head>
  <body style="background-color: #222831; color: white;">
    <div id="error-page">
      <div class="content" style="color: white;">
        <h2 class="header" style="opacity: 0.8" style="color: white;">404</h2>
        <h4 data-text="Opps! Page not found" style="color: white;">Opps! Page not found</h4>
        <p style="color: white;">Sorry, the page you're looking for doesn't exist. If you think something is broken, report a problem.</p>
        <div class="btns">
          <a href="/" style="color: white; border-color: white;">return home</a>
        </div>
      </div>
    </div>
  </body>
</html>
