<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testing api fetchdata</title>
</head>

<body>

    <button id="fetchdata" onclick="send()">Get Details</button>
    <div id="result"></div>
</body>

</html>
<script>
    // function send() {
    //     // var myVar = { "id": 1 };
    //     console.log("tuleb siia");
    //     fetch("https://docs.github.com/rest", {
    //         method: "POST",
    //         headers: {
    //             "Content-Type": "text/plain"
    //         },
    //         body: JSON.stringify(data)
    //     }).then(function (response) {
    //         return response.text();
    //     }).then(function (muutuja) {
    //         document.getElementById('result').innerHTML = muutuja;
    //     });
    // }
</script>